header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

header a {
  color: #61dafb;
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  margin: 1rem;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 230px;
}
.product-info {
  padding: 1rem;
}
